.footer {
    position: fixed;
    bottom: 0;
    left: 45%;
    float: left;
}
.content {
    text-align: center;
}
.fa { 
    color: #0094ab;
}

.canvas {
    position: absolute;
    z-index: -10;
    left: 0;
    top: 0;
}

a:link {
    text-decoration: none;

}
  
  /* visited link */
  a:visited {
    text-decoration: none;
}
  
  /* mouse over link */
  a:hover {
    color: hotpink;
    text-decoration: none;

  }
  
  /* selected link */
  a:active {
    text-decoration: none;

  }



  /* the didi album slideshow styles */* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

.active,
.demo:hover {
  opacity: 1;
}




.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  #loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f300;
    border-radius: 50%;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }

  .change {
    background-color: rgba(207, 238, 255, 0.212);
      width: 200%;
      height: 100%;
      padding: 100px;
      border-radius: 50px;
      transition: all 1.5s;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 10;

    }